name: ci

on: [push]

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: |
          npm install -g yarn
          yarn
      - name: lint
        run: "yarn lint"
      - name: check formatting
        run: "yarn formatting-check"
      - name: type check
        run: "yarn type-check"
      - name: test
        run: "yarn test"

  publish:
    runs-on: ubuntu-latest
    needs: lint_and_test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: |
          npm install -g yarn
          yarn
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
      - run: yarn install
      - run: expo publish
